@import "style";
@mixin circle($width, $color) {
  width:$width;
  height:$width;
  background:$color;
    -webkit-border-radius: $width/2; 
     -moz-border-radius: $width/2;
          border-radius: $width/2;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
@mixin triangle($width,$dir,$color) {
  @if $dir == up {
  width: 0;height: 0;
  border-left: $width/2 solid transparent;
  border-right: $width/2 solid transparent;
  border-bottom: $width/2 solid $color;
  } @else if $dir == down {
  width: 0;height: 0;
  border-left: $width/2 solid transparent;
  border-right: $width/2 solid transparent;
  border-top: $width/2 solid $color;
  } @else if $dir == right {
  width: 0;height: 0;
  border-top: $width solid transparent;
  border-bottom: $width solid transparent;
  border-left: $width solid $color;
  } @else if $dir == left {
  width: 0;height: 0;
  border-top: $width solid transparent;
  border-bottom: $width solid transparent;
  border-right: $width solid $color;
  }
}
.circle { @include circle(200px, #999); display:block;
  &:hover { background:black; }
}

.triangle { @include triangle(100px, right, red); display:block;}

.ir {font: 0/0 a; text-shadow: none; color: transparent; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }